// variable css
$padding50: 50px;
$color_text: rgb(32 85 202);
$pt_15: 15px;
$font_w500: 500;
$bg-content: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(121, 9, 80, 0.7693671218487395) 35%,
  rgba(0, 212, 255, 1) 100%
);

$bg-cell_table: linear-gradient(
  0deg,
  rgba(34, 193, 195, 1) 0%,
  rgba(243, 253, 45, 0.8001794467787114) 100%
);
